@model List<AzureIntegration.Services.AzureResource>

<h2>Resources in Resource Group: @ViewData["resourcegroup"]</h2>

<ul>
    @foreach (var resource in Model)
    {
        <li><img src="@resource.Url" /> @resource.Name </li>
    }
</ul>